.eager-aware-message {
  display: block;
  margin: 1em;
  line-height: 1.5em;
  text-align: center;
}

.eager-aware-message-content {
  color: inherit;
  background: #eee;
  color: #000;
  border-radius: .1875em;
  display: inline-block;
  padding: 1em;
}
